<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Docs</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="bg-gray-50">
        <div id="content" class="border-red-600 grid grid-flow-row h-full">
            <div class="mx-auto mt-60 text-center bg-white rounded-lg shadow-lg p-10"> 
                <img class="w-20 mx-auto" src="<%= iconPath.replace('/public', '') %>" alt="icon" srcset="">
                <h4 class="text-2xl">Selamat datang pada</h4>
                <p class="text-gray-400">Lihat <a href="https://github.com/SeptAlfauzan/cek-kamar-rs" class="font-bold text-green hover:text-green-400">dokumentasi.</a></p>
                <div class="text-green-300">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="hover:text-green-400 font-bold" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </div>
    <!-- content -->
</body>
</html>