<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Cek RS API</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="bg-gray-50">
        <div id="content" class="border-red-600 grid grid-flow-row h-full">
            <div class="mx-auto mt-60 w-1/3 text-center bg-white rounded-lg shadow-lg p-10"> 
                <img class="w-20 mx-auto" src="<%= iconPath.replace('/public', '') %>" alt="icon" srcset="">
                <h4 class="text-2xl">Selamat datang pada <a href="cek-kamar-rs.herokuapp.com" class="hover:text-green-400">cek-kamar-rs</a></h4>
               
                <p style="text-indent: 20px;" class="mt-2 text-gray-500 text-justify">
                    Apa itu cek-kamar-rs? cek-kamar-rs merupakan API yang menyediakan data-data ketersediaan kamar dari berbagai rumah sakit yang ada di Indonesia.
                </p>
                <br>
                <p class="text-gray-400">Lihat <a href="https://github.com/SeptAlfauzan/cek-kamar-rs" class="font-bold text-green hover:text-green-400">dokumentasi.</a></p>
                <div class="text-green-300 text-xs">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="hover:text-green-400 font-bold" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </div>
    <!-- content -->
</body>
</html>